body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#webgpuCanvas {
    display: block;
    width: 100%;
    height: 100%;
}

#renderCanvas {
    display: block;
    width: 90%;
    height: 100%;
}

/* This class will be added to the canvas when it's in full-screen */
.fullscreen {
    width: 100%;
    height: 100%;
}
