CELERIS_AUTH_MODE=disabled
CELERIS_AGENT_BASE_URL=https://192.168.1.239/CelerisAgent
CELERIS_RUNNER_BASE_URL=https://192.168.1.239/agent.html
CELERIS_AGENT_QUEUE_MODE=rq
CELERIS_REDIS_URL=redis://127.0.0.1:6379/0
CELERIS_AGENT_QUEUE=celeris-agent
CELERIS_AGENT_JOB_TIMEOUT_SECONDS=7200
OPENBLAS_NUM_THREADS=2
OMP_NUM_THREADS=2
GDAL_NUM_THREADS=2
NUMEXPR_NUM_THREADS=2
